body {
    background-color: #007BFF;
    /* Blue background color */
    color: #ffffff;
    /* White text color */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    /* Slightly transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

input,
textarea {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    background: #0056b3;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #003f7f;
}